fastapi==0.68.1
uvicorn==0.15.0
motor==2.5.1
pydantic==1.8.2
python-dotenv==0.19.1
pytest==6.2.5
httpx==0.19.0
python-multipart==0.0.6
aiofiles==0.7.0
numpy==1.23.0
pypulseq==1.4.0
plotly
pydantic_numpy